{{ form_start(form) }}
	{% if erreur %}
        <div class="alert">
            {{ erreur }}
        </div>
    {% endif %}
    {{ form_widget(form) }}
    <div class="button-container">
    	<button class="cafe-button">{{ button_label|default('Valider la commande') }}</button>
    </div>
{{ form_end(form) }}
