{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <div class="padding-L">
        <table class="table" id='commands-table'>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Etat</th>
                    <th>Quantite</th>
                    {% if app.user.type == 'exportateur' %}
                    <th>actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr onclick='showCommandModal({{ commande.id }})'>  
                    <td>{{ commande.date ? commande.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        {% if commande.etat == 'Preparation' %}
                        <div class="prep">{{ commande.etat }}</div>
                        {% elseif commande.etat == "En attente de preparation" %}
                        <div class="waiting">{{ commande.etat }}</div>
                        {% else %}
                        <div class="done">{{ commande.etat }}</div>
                        {% endif %}
                    </td>
                    <td>{{ commande.quantite }}</td>
                    {% if app.user.type == 'exportateur' %}
                    <td>
                        <a href="{{ path('commande_edit', {'id': commande.id}) }}"><div class="cafe-button">Editer</div></a>
                    </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune commande</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    
    {% if app.user.type == 'importateur' %}
        <div class="padding-l-L">
            <a href="{{ path('commande_new') }}"><div class="cafe-button">Nouvelle commande</div></a>
        </div>
    {% endif %}

    {% for commande in commandes %}
        <div class="modal-custom hidden" id="command-{{ commande.id }}">
            <div class="content">
                <div class="head">
                    <p>Commande du {{ commande.date ? commande.date|date('Y-m-d H:i:s') : '' }}</p>
                    <div class="close" onclick="closeCurrent()"></div>
                </div>
                <div class="body">
                    <div class="informations-commande space-v-s">
                        <p class="title">Etat</p>
                        <p>{{ commande.etat }}</p>
                        <p class="title">Quantité</p>
                        <p>{{ commande.quantite }}</p>
                        <p class='title'>Nom du café</p>
                        <p>{{ commande.cafe.nom }}</p>
                        <p class="title">Vendeur</p>
                        <p>{{ commande.vendeur.entreprise }}</p>
                        <p class="title">Type de café</p>
                        <p>{{ commande.cafe.type|capitalize }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
