{% extends 'base.html.twig' %}

{% block title %}Cafe index{% endblock %}

{% block body %}
    <div class="padding-l-L space-v-L">
        <table class="table" id="cafe-table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Stock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for cafe in cafes %}
                <tr>
                    <td>{{ cafe.nom }}</td>
                    <td>{{ cafe.type|capitalize }}</td>
                    <td>{{ cafe.stock }}</td>
                    <td>
                        <a href="{{ path('cafe_edit', {'id': cafe.id}) }}"><div class="cafe-button">Editer</div></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun café enregistrer</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <a href="{{ path('cafe_new') }}"><div class="cafe-button">Nouveau café</div></a>
    </div>
{% endblock %}
