{% extends 'base.html.twig' %}

{% block title %}Cafe{% endblock %}

{% block body %}
    <h1>Cafe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cafe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cafe.nom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ cafe.type }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ cafe.stock }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cafe_index') }}">back to list</a>

    <a href="{{ path('cafe_edit', {'id': cafe.id}) }}">edit</a>

    {{ include('cafe/_delete_form.html.twig') }}
{% endblock %}
