<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset("main.css") }}">
        {% endblock %}
    </head>
    <body>
    	<div id="navbar">
    		<div class="start">
	    		<a href="{{ path("index") }}">
		    		<div class="title">
		    			<img src="{{ asset("pics/coffee.svg")}}" alt="">
		    			<p>Kawa</p>
		    		</div>
	    		</a>
				<a href="{{ path("producteur_index") }}">
		    		<div class="item">
		    			<img src="{{ asset("pics/loupe.svg")}}" alt="">
		    			<p>Visualiser</p>
		    		</div>
	    		</a>
				<a href="">
		    		<div class="item">
		    			<img src="{{ asset("pics/relations.svg")}}" alt="">
		    			<p>Relations</p>
		    		</div>
	    		</a>
				<a href="{{ path("commande_index") }}">
		    		<div class="item">
		    			<img src="{{ asset("pics/box.svg")}}" alt="">
		    			<p>Commandes</p>
		    		</div>
	    		</a>
    		</div>
    		<div class="end">
	    	{% if app.user %}
				<a href="{{ path('app_logout') }}"><div class="logout">Deconnexion</div></a>
	    	{% else %}
				<a href='{{  path('app_login') }}'><div class="login">Se connecter</div></a>
				<a href='{{  path('app_register') }}'><div class="signin">S'inscrire</div></a>
	    	{% endif %}
	    	</div>
    	</div>
    	<div id="body">
	        {% block body %}{% endblock %}
	        {% block javascripts %}
	        	<script type="text/javascript" src='{{ asset('main.js') }}'></script>{% endblock %}
        </div>
    </body>
</html>
